@import "nullstyle.scss";
@import "fonts.scss";

// * {
// 	color: #FF3232 !important;
// 	}

body{
	font-family: Athelas;
	font-style: normal;
}

a{
	cursor: pointer;
}

.head{
	background-image: url('../img/head-background.png');
	background-size: cover;
	font-family: Athelas;
	font-style: normal;
	&__container{
		margin-left: 16.4vw;
		padding-top: 1.25vw;
		padding-bottom: 6.2vw;
	}

	&__top{
		margin-left: .95vw;
		display: flex;
		flex-direction: row;
	}

	&__logo img{
		width: 9.627vw;
	}

	&__menu-list{
		display: flex;
		flex-direction: row;
		margin-left: 14vw;
		margin-top: 2.97vw;
	}

	&__menu-item{
		margin-left: 3.5vw;
	}

	&__menu-link{
		color: #FFF;
		font-style: normal;
		font-size: 1.03vw;
	}

	&__middle{
		display: flex;
		flex-direction: row;
	}

	&__title{
		position: relative;
		margin-top:1.6vw;
	}
	&__title-background-text{
		position: absolute;
		color: rgba(65,65,65, .3);
		z-index: 0;
		max-width: 50vw;
		overflow-wrap: break-word;
		inline-size: 30vw;
		display: flex;
		font-size: 12vw;
	}
	&__title-naming{
		position: inherit;
		padding-top: 6.6vw;
		padding-left: 1vw;
		color: #FFF;
		display: flex;
		z-index: 100;
		inline-size: 40vw;
		overflow-size: break-word;
		font-size: 4.37vw;
		line-height:4.8vw;
	}
	&__clock-img{
		width: 33.05vw;
		height: 30.3vw;
		margin-left: -4.1vw;
		margin-top: -0.3vw;
	}
}

.watch-video{
	margin-top: 2.8vw;
	margin-left: 19.9vw;
	display: flex;
	flex-direction: row;

	&__label{
		padding-left: 1vw;
		padding-top: 1.24vw;
		line-height:1vw;
		font-size: .92vw;
		color: #FFF;
		display: inline-block;
		inline-size: 11vw;
		overflow-wrap: break-word;
	}
}
.pc-break{

}

.watch-button{
	display: block;

	&__triangle{
		width: 4.46vw;
	}
}

.row-container{
	display: flex;
	flex-direction: row;
}

.about{
	background-color: #000;
	padding-bottom: 8.85vw;

	.row-container{
		margin-left: 23.8vw;
	}

	&__left-column{
		position: relative;
	}

	&__right-column{
		margin-left: 28.2vw;
		margin-top: 7.1vw;
	}

	&__first-img{
		position: absolute;
		width: 23.8vw;
		margin-top: -6.2vw;
	}
	&__second-img{
		position: absolute;
		margin-top: 17.05vw;
		margin-left: -8.4vw;
		width: 25.28vw;

	}
	&__rectangle{
		position: absolute;
		width: 11.1vw;
		height: 29vw;
		margin-left: 15vw;
		margin-top: 5.75vw;
		background-color: #131618;
	}

	.article{
			margin-top: 11vw;
			margin-left: 3.9vw;
			transform: scale(1.06, 1.02);
	}
}

.title{
	position: relative;
}

.title-text{
	padding-top: .8vw;
	position: absolute;
	margin-left: 3.2vw;
	margin-top: .65vw;
	font-size: 2.5vw;
	color: #FFF;
	inline-size: 15vw;
	&_size-big{
		font-size: 4.4vw;
		line-height: 3.5vw;
	}
	&_size-medium{
		font-size: 3.3vw;
	}

	&_size-medium-big{
		font-size: 3.41vw;
	}

	&_color-black{
		color: #000;
	}
}

.background-title{
	position: absolute;
	color: rgba(255, 255, 255, .08);
	font-size: 4.1vw;
	inline-size: 25vw;
	&_size-big{
		font-size: 6.7vw;
		line-height: 4.7vw;
	}
	&_size-medium{
		font-size: 5.1vw;
	}
	&_color-black{
		color: rgba(19, 22, 24, .08);
	}
}

.article{
	color: #FFF;
	font-size: 1.065vw;
	inline-size: 22vw;
	line-height: 1.42vw;
	&_color-black{
		color: #000;
	}
	&_size-big{
		line-height: 2.15vw;
		font-size: 1.62vw;
	}
}

.rent .title-text{
	font-size: 2.46vw;
}

.rent, .cooperation, .news{
	padding-top: 2vw;
	padding-bottom: 6.8vw;
	background-color: #F1F1F1;
}

.rent{
	.background-title{
		font-size: 5vw;
		margin-top: -1.9vw;
		&_size-big{
			font-size: 8.2vw;
			display: inline-block;
			padding-top: .5vw;
		}
	}
	.row-container{
		margin-left: 14vw;
		margin-top: 2.9vw;
	}

	.article{
		margin-top: 11vw;
		margin-left: 3.44vw;
		inline-size: 28vw;
		line-height: 1.9vw;
		font-size: 1.55vw;
	}
	.article-img{
		margin-left: 4.4vw;
		margin-top: -2.1vw;
	}
}

.double-img-container{
	position: relative;
}

.background-rect{
	position: absolute;
	background-color: rgba(213, 213, 213, .30);
	width: 31.3vw;
	height: 22.2vw;
	margin-left: 7vw;
	margin-top: .6vw;
}


.article-img{
	position: absolute;
	width: 31.5vw;
}

.stages{
	padding-top: 6.8vw;
	background-color: #000;
	padding-bottom: 7.1vw;
	.title{
		margin-left: 31vw;
	}
	.title-text{
		inline-size: 30vw;
		text-align: center;
		&_size-big{
			padding-left: .4vw;
		}
	}

	.background-title{
		text-align: center;
		inline-size: 40vw;
		margin-left: -1.15vw;
	}

	.container-box{
		padding-top: 13.85vw;
	}

	.pseudo-background{
		margin-top: 2.4vw;
	}
}

.container-box{
	display: flex;
	flex-direction: column;
}
.container-row{
	display: flex;
	flex-direction: row;
	padding-bottom: 4vw;
	&_extra-margin{
		margin-left: 3.9vw;
	}
}

.bottom-line{
	display: flex;
	flex-direction: row;
	margin-top: 1.75vw;
	margin-left: -0.1vw;
}

.card-container{
	margin-left: 3.1vw;
	display: flex;
	flex-direction: row;
	&_orient-left{
		margin-left: 2.5vw;
	}
}

.pseudo-background{
	color: rgba(255, 255, 255, .08);
	font-size: 10.2vw;
	&_anchor{
		&-right{
			margin-left: 4.3vw;
		}
		&-left{
			padding-left: 3.5vw;
		}
	}
}

.card{
	margin-left: 1.5vw;
	&__number{
		font-size: 4.9vw;
		color: #FFF;
		&_orient-right{
			margin-left: -0.36vw;
		}
	}

	&__article{
		font-family: unset;
		inline-size: 24vw;
		font-size: 1.13vw;
		line-height: 1.44vw;
		padding-top: 1.35vw;
		padding-left: 1.13vw;
		color: #FFF;
		&_orient-right{
			padding-left: .5vw;
		}
		&_anchor-right{
			padding-left: .9vw;
		}
	}
}

.card-img{
	width: 31.09vw;
	height: 16.3vw;
	&_size-big{
		width: 31.16vw;
	}
}

.cooperation{
	padding-bottom: 8.6vw;
	.left-column{
		margin-left: 17.5vw;
		margin-top: .6vw;
	}
	.right-column{
		margin-left: 34vw;
		margin-top: 5.6vw;
	}
	.background-rect{
		margin-top: 2.2vw;
		margin-left: 2.4vw;
	}

	.article-img{
		margin-top: .8vw;
	}

	.title-text{
		margin-left: 3.5vw;
	}

	.background-title{
		margin-top: 1.4vw;
		font-size: 5vw;
	}

	.article{
		margin-top: 7.9vw;
		margin-left: 3.7vw;
	}

	&__contact{
		margin-left: 3.7vw;
		margin-top: .3vw;
	}

	&__phone-icon{
		margin-top: .3vw;
		width: 1.3vw;
	}

	&__phone-number{
		margin-left: .3vw;
		font-size: 1.6vw;
	}
}

.models::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/models-background.png') rgba(0, 0, 0, 0.85);
	background-size: cover;
	background-blend-mode: multiply;
	z-index: -1;
}

.models{
	position: relative;
	padding-top: 9.2vw;
	background-size: cover;
	padding-bottom: 7.2vw;

	.main-title{
			margin-left: 14vw;
			margin-top: -0.7vw;
			.background-title{
				margin-left: .8vw;
				inline-size: 18vw;
				overflow-wrap: break-word;
			}
	}

	.model-title{
		margin-left: -0.4vw;
		margin-top: -0.3vw;
		.background-title{
			margin-left: 1vw;
			margin-top: .6vw;
		}
	}

	.title-text{
		inline-size: 11.4vw;
		overflow-wrap: break-word;
	}
	.button-cancel{
		margin-top: 5.1vw;
		margin-left: 17.25vw;
	}

	.arrow-controller{
		margin-left: 25vw;
	}
	#arrow-right{
		margin-left: 11.3vw;
	}

	.arrow-img{
		margin-top: 2vw;
	}

	&__img-container{
		margin-top: 1.2vw;
		margin-left: 17.5vw;
		display: flex;
		flex-direction: column;
	}

	&__img{
		margin-top: 1.25vw;
		width: 4.9vw;
	}

	&__main-image{
		margin-left: 3.1vw;
		margin-top: 3.3vw;
		width: 34.1vw;
	}

	.description{
		margin-top: 1.6vw;
		margin-left: 2.6vw;
		&__item{
			margin-top: 1.5vw;
		}
	}

	.size-title{
		margin-left: 14vw;
		margin-top: 1.3vw;
		.background-title{
			margin-left: .4vw;
			margin-top: .7vw;
		}
	}

	&__size-description{
		margin-top: 6.6vw;
	}
	.left-ul{
		margin-left: 19vw;
		margin-top: .3vw;
		li::before{
			margin-right: 1vw;
		}
	}

	.right-ul{
		margin-top: .4vw;
		margin-left: 3.4vw;
		li::before{
			margin-right: 1.1vw;
		}
	}

	.left-ul, .right-ul{
		li{
			inline-size: 28vw;
			margin-top: 1.15vw;
			font-size: 1.128vw;
		}
	}
}

.arrow-img{
	width: 1.16vw;
}

.button-cancel{
	color: #FFF;
	font-size: 1.22vw;
}
.description__item{
	color: #FFF;
	text-indent: -1.5vw;
	font-size: 1.14vw;
	font-family: unset;
	line-height: 1.42vw;
	inline-size: 19vw;
}

.description__item::before{
	content: '';
	display: inline-block;
	height: .74vw;
	width: .74vw;
	background-image: url('../img/circle.svg');
	background-size: cover;
	margin-right: .77vw;
}

.news{
	padding-bottom: 5.7vw;
	.title{
		text-align: center;
		margin-left: 32vw;
		margin-top: .5vw;
	}
	.title-text{
		margin-left: 7vw;
		margin-top: 2.2vw;
		inline-size: 20vw;
		&_size-big{
			margin-left: .2vw;
			margin-top: -.8vw;
		}
	}
	.background-title{
		margin-top: 1.6vw;
		margin-left: 4.7vw;
		&_size-big{
			margin-left: 0;
			margin-top: 0;
		}
	}
	&__item{
		margin-left: 1.05vw;
	}
	.news-container{
		margin-top: 14.5vw;
		margin-left: 16.45vw;
	}

	.news-description{
		color: #000;
		margin-top: 1.8vw;
	}
	.date-container{
		&__month{
			margin-left: .1vw;
		}
	}
	.news-article{
		margin-left: 1.1vw;
		margin-top: 1.3vw;
		&_anchor-left{
			margin-left: .6vw;
		}
	}

	.news-link{
		display: block;
		margin-left: 5.3vw;
		margin-top: .8vw;
	}
	.news-expand-button{
		margin-left: 44.4vw;
		margin-top: 3.25vw;
		backgroun-color: transparent;
		box-shadow: none;
		height: 2.55vw;
		font-size: .72vw;
		width: 9.9vw;
		border: 1px solid #000;
	}
}

.news-container, .news-description{
	display: flex;
	flex-direction: row;
}

.news-img{
	width: 31.3vw;
	&_size-small{
		width: 31.1vw;
	}
}

.date-container{
	&__number{
		font-size: 4.9vw;
	}
	&__month{
		font-size: 2.08vw;
	}
}

.news-article{
	font-size: 1.133vw;
	line-height: 1.43vw;
	inline-size: 23vw;
}

.news-link{
	font-size: 1.14vw;
	color: #000;
	text-decoration: underline;
}

.contacts{
	background-image: url('../img/contacts-background.png');
	background-size: cover;
	padding-top: 3vw;
	padding-bottom: 30.3vw;

	.contacts-form{
		margin-left: 17vw;
		margin-top: 1.7vw;
	}
	.title-text{
		margin-left: 3.7vw;
		margin-top: 1.3vw;
	}
	.background-title{
		margin-left: 2.2vw;
		margin-top: 1.8vw;
	}

	.contacts-desc{
		display: inline-block;
		inline-size: 14vw;
		margin-left: .3vw;
		overflow-wrap: break-word;
		&_extra-space{
			line-height: 1.4vw;
			margin-left: .4vw;
		}
	}
	.contacts-item{
		display: block;
		margin-top: .8vw;
		&_less-margin{
			margin-top: -0.1vw;
		}
		&_a-bit-margin{
			margin-top: .5vw;;
		}
	}
	.contacts-items{
		margin-top: 5.2vw;
		margin-left: 3.8vw;
		position: absolute;
	}

	.contacts-group{
		margin-top: 1.3vw;
	}
	.button-border{
		position: absolute;
		margin-top: 19.7vw;
		margin-left: 3.3vw;
	}

	.contacts-button{
		position: absolute;
		margin-top: 20.5vw;
		margin-left: 6.9vw;
	}
}

.contacts-border{
	width: 21.1vw;
}

.contacts-form{
	position: relative;
}

.contacts-border{
	position: absolute;
}

.contacts-icon{
	width: .95vw;
	&_small{
		width: .75vw;
		height: .9vw;
		margin-left: .1vw;
	}
}

.contacts-desc{
	font-size: 1.14vw;
	color: #FFF;
}
.button-border{
	width: 15vw;
}
.contacts-button{
	font-size: .715vw;
	color: #fff;
	display: block;
}

.footer{
	background-color: #000;
	padding-bottom: 5.1vw;
	.footer-logo{
		margin-left: 17.4vw;
	}
	.footer-items{
		margin-top: 3.95vw;
		margin-left: 5.7vw;
	}

	&__item{
		margin-top: .75vw;
	}

	.logo-container{
		margin-left: 35.5vw;
		margin-top: 10.2vw;
	}
	.logo-img{
		margin-left: .6vw;
	}
}

.footer-logo{
	width: 7.2vw;
}

.footer-items{
	color: #FFF;
	font-size: 1.24vw;
}

.logo-img{
	height: 1.435vw;
}

@import "tablet.scss";
@import "mobile.scss";