@media (max-width: 769px) and (min-width: 481px) {
	body{
		overflow-x: hidden;
	}
	.pc-break{
		display: none;
	}
	.head{

		background-image: url('../img/head-background-tablet.png');

		&__container{
			margin-left: 1.6vw;
			padding-bottom: 0;
		}
		&__menu-list{
			margin-left: 3.6vw;
			margin-top: 5.5vw;
		}

		&__top{
			margin-top: 3.6vw;
		}
		&__logo img{
			width: 19vw;
		}
		&__menu-link{
			font-size: 2.35vw;
		}
		&__menu-item{
			margin-left: 4.15vw;
			&_less-margin{
				margin-left: 3.9vw;
			}
		}

		&__title{
			margin-top: 5.3vw;
		}
		&__title-background-text{
			line-height: 25vw;
			font-size: 26vw;
		}
		&__title-naming{
			font-size: 9.4vw;
			inline-size: 80vw;
			line-height: 10.5vw;
			padding-top: 14vw;
			padding-left: 6.3vw;
		}
		&__middle{
			flex-direction: column;
		}

		&__left-column{
			position: relative;
			padding-bottom: 65.5vw;
		}

		&__clock-img{
			position: absolute;
			margin-top: 51.8vw;
			margin-left: 6.6vw;
			width: 83.5vw;
			height: 76.5vw;
		}

		.watch-video{
			margin-top: 10.4vw;
			margin-left: 6.6vw;

			&__label{
				padding-left: 2.55vw;
				padding-top: 3.3vw;
				font-size: 2.36vw;
				line-height: 2.6vw;
				inline-size: 20vw;
			}
		}

		.watch-button{
			&__triangle{
				width: 11.3vw;
			}
		}
	}

	.title-text	{
		font-size: 4.9vw;
		inline-size: 50vw;
		line-height: 8vw;
		&_size-big{
			font-size: 9.75vw;
		}
	}

	.background-title{
		font-size: 9.1vw;
		inline-size: 60vw;
		line-height: 11.5vw;
		&_size-big{
			font-size: 15.6vw;
		}
	}

	.about{
		padding-top: 7.2vw;
		padding-bottom: 69.8vw;
		.row-container{
			flex-direction: column-reverse;
			margin-left: 0;
		}
		&__left-column{
			margin-left: 8vw;
			margin-top: -51.5vw;
		}

		&__first-img{
			content: url('../img/photo-about-1-tablet.png');
			width: 36.4vw;
			height: 38.5vw;
		}

		&__second-img{
			content: url('../img/photo-about-2-tablet.png');
			margin-left: -5.4vw;
			margin-top: 24.3vw;
			width: 38.8vw;
			height: 28.6vw;
		}

		&__rectangle{
			width: 25.7vw;
			margin-top: 9.4vw;
			height: 37.9vw;
		}
		&__right-column{
			margin-top: 2.5vw;
			margin-left: 0;
		}
		.title{
			margin-left: 2.1vw;
			padding-bottom: 10vw;
		}
		.title-text	{
			margin-top: 2.7vw;
			margin-left: 6vw;
		}

		.article{
			margin-left: 52.6vw;
			margin-top: 22.2vw;
			inline-size: 44vw;
		}
	}
	.article{
		font-size: 2.47vw;
		line-height: 3.32vw;
	}

	.article-img{
		width: 44vw;
	}

	.rent{
		padding-bottom: 27.6vw;
		.row-container{
			margin-top: 7vw;
			margin-left: 4.8vw;
		}
		.title-text{
			line-height: 7.9vw;
			margin-top: 2.5vw;
			inline-size: 10vw;
			font-size: 4.9vw;
		}
		.background-title{
			margin-left: -2.8vw;
			inline-size: 9vw;
			font-size: 9.1vw;
			margin-top: 0vw;
			&_size-big{
				font-size: 15.6vw;
			}
		}
		.article{
			font-size: 2.6vw;
			inline-size: 40vw;
			line-height: 3.4vw;
			margin-top: 29.2vw;
			margin-left: 3vw;
		}
		.right-column{
			margin-top: 27.4vw;
			margin-left: -1vw;
		}
		.article-img{
			content: url('../img/photo-rent-tablet.png');
		}
		.background-rect{
			width: 43.6vw;
			height: 32.6vw;
		}
	}

	.stages{
		padding-bottom: 10.8vw;
		position: relative;
		.title{
			position: absolute;
			margin-top: 4.3vw;
		}
		.title-text{
			margin-left: 3.4vw;
			&_size-big{
				display: block;
				margin-top: .4vw;
				margin-left: -14.2vw;
			}
		}

		.background-title{
			margin-top: -2vw;
			&_size-big{
				margin-left: -26.8vw;
			}
		}
		.pseudo-background{
			display: none;
		}
		.container-box{
			display: block;
			margin-left: -3.7vw;
			padding-top: 33vw;
			padding-left: -4vw;
		}

		.card-img{
			width: 46.2vw;
			height: 24.2vw;
			&_size-big{
				margin-left: .4vw;
				width: 46.4vw;
			}
			&_anchor-left{
				margin-left: .4vw;
			}
		}
		.card-container{
			&_orient-left{
				margin-left: -1vw;
				margin-top: 3.8vw;
				.card{
					margin-left: 2.8vw;
				}
			}
		}
		.bottom-line{
			margin-top: 2.5vw;
			margin-left: .6vw;
		}
		.card{
			margin-left: 2.6vw;
			&__number{
				font-size: 7vw;
			}
			&__article{
				font-size: 2.35vw;
				line-height: 3vw;
				inline-size: 37vw;
				margin-left: 1vw;
				margin-top: .2vw;
				&_orient-right{
					margin-left: 1.2vw;
				}
				&_anchor-right{
					margin-left:.6vw;
				}
				&_extr-margin{
					margin-left: .8vw;
				}
			}
		}
	}
	.cooperation{
		padding-bottom: 45.6vw;
		.row-container{
			flex-direction: column-reverse;
		}
		.right-column{
			margin-left: 0;
		}
		.left-column{
			margin-top: -20.4vw;
			margin-left: 51.4vw;
		}
		.title{
			margin-left: 2vw;
		}
		.title-text{
			font-size: 8.35vw;
			margin-left: 5.8vw;
			margin-top: 4.2vw;
		}
		.background-title{
			font-size: 12.4vw;
			margin-top: 5.5vw;
		}

		.article-img{
			width: 42.8vw;
		}
		.background-rect{
			width: 43.4vw;
			margin-top: 2.4vw;
			height: 30.4vw;
		}

		.article{
			font-size: 3.12vw;
			line-height: 3.5vw;
			inline-size: 50vw;
			margin-top: 24.4vw;
			margin-left: 8vw;
		}

		&__contact{
			margin-top: 4vw;
			margin-left: 8vw;
		}

		&__phone-icon{
			margin-top: .5vw;
			margin-left: .2vw;
			width: 3.15vw;
		}
		&__phone-number{
			display: inline-block;
			font-size: 3.15vw;
			margin-top: .2vw;
			color: #000;
		}
	}

	.models{
		padding-bottom: 15vw;
		&:before{
			content: '';
			width: 0;
		}
		background: url('../img/models-background-tablet.png');
		.main-title{
			margin-top: 1.6vw;
			margin-left: 4.8vw;
			.title-text{
				inline-size: 23vw;
				&_size-big{
					inline-size: 30vw;
					display: inline-block;
				}
			}
			.background-title{
				inline-size: 34vw;
				margin-top: -1.6vw;
				margin-left: -1.9vw;
				&_size-big{
					display: inline-block;
					inline-size: 40vw;
				}
			}
		} 
		.arrow-controller{
			margin-left: 46.6vw;
			margin-top: 9.2vw;
		}
		.arrow-img{
			width: 2.35vw;
		}
		#arrow-left{
			content: url('../img/arrow-left-tablet.svg');
		}
		#arrow-right{
			margin-left: 21.8vw;
			content: url('../img/arrow-right-tablet.svg');
		}

		.model-title{
			.title-text{
				font-size: 7.8vw;
				margin-left: 6vw;
				margin-top: .2vw;
				inline-size: 20vw;
			}
			.background-title{
				margin-top: -2.2vw;
				margin-left: 2.2vw;
				font-size: 11.2vw;
			}
		}
		.button-cancel{
			margin-left: 8vw;
			margin-top: 10.6vw;
			font-size: 2.9vw;
		}
		&__img-container{
			margin-top: 1.7vw;
			margin-left: 8.1vw;
		}
		&__img{
			margin-top: 1.9vw;
			width: 12.5vw;
		}
		&__main-image{
			margin-top: 14.5vw;
			margin-left: 10.8vw;
			width: 59vw;
		}

		.description{
			&__item{
				&::before{
					height: 2vw;
					width: 2vw;
					margin-top: 0.4vw;
					display: block;
					float: left;
					margin-right: 3.6vw;
					position: absolute;
					left: -4vw;
				}
				position: relative;
				display: block;
				font-size: 2.35vw;
				inline-size: 75vw;
				line-height: 2.9vw;
				margin-top: 2.5vw;
				margin-left: 4vw;
				text-indent: 0;
			}

			margin-left: 8vw;
			margin-top: 8.2vw;
		}

		&__size-description{
			margin-top: 15.7vw;
			flex-direction: column;

			.left-ul, .right-ul{
				margin-left: 8vw;
				margin-top: 0;
				.description__item{
					font-size: 2.35vw;
					inline-size: 75vw;
					margin-top: 2.5vw;
					padding-left: 0.4vw;
				}
			}
			.right-ul{
				margin-top: -.2vw;
				.description__item{
					padding-left: 0.6vw;
				}
			}
			
		}
		.size-title{
			margin-left: 1.6vw;
			margin-top: 4vw;

			.title-text{
				inline-size: auto;
				font-size: 6.2vw;
				margin-left: 6.2vw;
				margin-top: 1.6vw;
			}
		}

	}
	.models-wrapper{
		flex-direction: column;
	}

	.news{
		padding-bottom: 14.7vw;
		.title{
			margin-top: 8vw;
			margin-left: 24.8vw;
			.title-text{
				text-align: center;
				line-height: 6.4vw;
				inline-size: 34.6vw;
			}

			.background-title{
				margin-left: -1.8vw;
				margin-top: -0.8vw;
				line-height: 10.4vw;
				text-align: center;
				inline-size: 53.6vw;
			}
		}

		.news-container{
			margin-top: 37.4vw;
			margin-left: -.1vw;
		}

		&__item{
			margin-left: 2.6vw;
		}

		.news-img{
			width: 46.2vw;
			height: 24.5vw;
		}

		.news-description{
			margin-top: 2.8vw;
		}

		.date-container{
			&__number{
				font-size: 6.8vw;
			}
			&__month{
				font-size: 2.8vw;
				margin-left: .4vw;
				&-extra-margin-top{
					margin-top: .2vw;
				}
			}
		}

		.news-article{
			font-size: 2.35vw;
			line-height: 3vw;
			inline-size: 34.2vw;
			margin-top: 1.7vw;
			margin-left: 2.3vw;
			.inl-s-l{
				inline-size: 36vw;
				display: inline-block;
			}
			&_anchor-left{
				margin-top: 1.5vw;
				margin-left: 2.8vw;
			}
		}

		.news-link{
			font-size: 2.35vw;
			margin-left: 8.2vw;
			margin-top: 1.6vw;
			&-extr-margin{
				margin-left: 9.3vw;
				margin-top: 1.9vw;
			}
		}

		.news-expand-button{
			margin-left: 37.6vw;
			margin-top: 4.5vw;
			width: 24.8vw;
			height: 6.4vw;
			font-size: 1.83vw;
		}
	}
}